<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/contato.css">
    <link rel="icon" href="../static/img/logo.png">
</head>
<body>
    <header>
        <div class="cabeçalho">
            <img class="logo" src="../static/img/logo_fundo_preto.png" alt="Logo">
            <p class="nome">ACADEMIA MAROMBA</p>
            <img class="linha" src="../static/img/linha.png" alt="">
            <div class="caixa">
                <img class="icones" src="../static/img/email.png" alt="">
                <img class="icones" src="../static/img/telefone.png" alt="">
                <img class="icones" src="../static/img/telefone.png" alt="">
                <div class="naoaguentomaisdiv">
                    <p class="coiso_dos_icone">academiamaromba@email.com</p>
                    <p class="coiso_dos_icone">+55 (99) 99999-9999 / 24 hrs</p>
                    <p class="coiso_dos_icone">4002-8922</p>
                </div>
            </div>
        </div>
        <div class="cabecalho">
            <nav>
                <a href="index.html"><button class="btn">HOME</button></a>
                <a href=""><button class="btn">INSCRIÇÃO</button></a>
                <a href="shope.html"><button class="btn">LOJA</button></a>
                <a href="calculadora_imc.html"><button class="btn">IMC</button></a>
                <a href="contato.html"><button class="btn">CONTATO</button></a>
            </nav>
        </div>
    </header>
    <main>
        <!-- Início da parte principal -->
        <section style="text-align: center;" class="inicio">
            <br><br><br><br>
            <h1>Venha à nossas unidades<br>ou nos contate por telefone</h1>
            <br> <br>
            <br><br><br>
        </section>

        <section class="secao-pesquisar-unidades">

            <!-- Barra de pesquisa -->
            <div class="pesquisar-unidades">
                
                <form>
                    <img src="assets/img/icone-lupa.png" class = "lupa-pesquisa">
                    <input type="text" placeholder="Pesquisar unidades" style="width: 1000px; height: 30px;">
                    <button type="submit" class="botao-pesquisa">Pesquisar</button>
                </form>
            </div>

            <div class="pai-dos-blocos">
                <!-- ***Quadros de informações*** -->
                <div class="bloco-unidade">

                        <!-- Título do bloco -->
                    Unidade 125


                        <!-- Localização -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-localizacao.png" style="height: 23px; width: 20px;">
                        Rua Direita, 955 - Vila Santo Antônio - Cotia/SP, 06708-280</p>

                        <!-- Telefone -->
                        <p class="conteudo-bloco"> <img src="../static/img/icone-telefone.png" style="height: 23px; width: 20px;">
                        (11) 3279-740</p>

                        <!-- E-mail -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-e-mail.png" style="height: 23px; width: 20px;">
                        academiamaromba@email.com</p>
                </div>

                <div class="bloco-unidade">

                    <!-- Título do bloco -->
                Unidade 141


                    <!-- Localização -->
                <p class="conteudo-bloco"> <img src="../static/img/icone-localizacao.png" style="height: 23px; width: 20px;">
                    Rua Dom Antônio Cândido de Alvarenga, 353 - Centro - Mogi das Cruzes/SP, 08780-070</p>

                    <!-- Telefone -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-telefone.png" style="height: 23px; width: 20px;">
                    (11) 4728-390</p>

                    <!-- E-mail -->
                <p class="conteudo-bloco"> <img src="../static/img/icone-e-mail.png" style="height: 23px; width: 20px;">
                    academiamaromba@email.com</p>
                </div>

                <div class="bloco-unidade">

                    <!-- Título do bloco -->
                Unidade 133


                    <!-- Localização -->
                <p class="conteudo-bloco"> <img src="../static/img/icone-localizacao.png" style="height: 23px; width: 20px;">
                    Rua Tagipuru, 242 - 
                    Barra Funda - 
                    São Paulo/SP, 01156-000</p>

                    <!-- Telefone -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-telefone.png" style="height: 23px; width: 20px;">
                    (11) 3279-740</p>

                    <!-- E-mail -->
                <p class="conteudo-bloco"> <img src="../static/img/icone-e-mail.png" style="height: 23px; width: 20px;">
                    academiamaromba@email.com</p>
                </div>
                    
                <div class="bloco-unidade">

                        <!-- Título do bloco -->
                    Unidade 159

                        <!-- Localização -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-localizacao.png" style="height: 23px; width: 20px;">
                        Rua Guatemala, 19 - Jardim Canhema - Diadema/SP, 09941-140</p>

                        <!-- Telefone -->
                        <p class="conteudo-bloco"> <img src="../static/img/icone-telefone.png" style="height: 23px; width: 20px;">
                        (11) 3279-700</p>

                        <!-- E-mail -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-e-mail.png" style="height: 23px; width: 20px;">
                        academiamaromba@email.com</p>
                </div>

                <div class="bloco-unidade">

                        <!-- Título do bloco -->
                    Unidade 126


                        <!-- Localização -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-localizacao.png" style="height: 23px; width: 20px;">
                        Rua Oratório, 215 - Mooca - São Paulo/SP, 03117-000</p>

                        <!-- Telefone -->
                        <p class="conteudo-bloco"> <img src="../static/img/icone-telefone.png" style="height: 23px; width: 20px;">
                            (11) 2076-320</p>

                        <!-- E-mail -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-e-mail.png" style="height: 23px; width: 20px;">
                        academiamaromba@email.com</p>
                </div>

                <div class="bloco-unidade">

                    <!-- Título do bloco -->
                Unidade 127


                    <!-- Localização -->
                <p class="conteudo-bloco"> <img src="../static/img/icone-localizacao.png" style="height: 23px; width: 20px;">
                    Rua Monsenhor Andrade, 298 - Brás - São Paulo/SP, 03008-000</p>

                    <!-- Telefone -->
                    <p class="conteudo-bloco"> <img src="../static/img/icone-telefone.png" style="height: 23px; width: 20px;">
                        (11) 3322-500</p>

                    <!-- E-mail -->
                <p class="conteudo-bloco"> <img src="../static/img/icone-e-mail.png" style="height: 23px; width: 20px;">
                    academiamaromba@email.com</p>
            </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="mds_quanta_div">
            <img class="logo" src="../static/img/logo_fundo_preto.png" alt="Logo">
        </div>
        <br>
        <p>© TODOS OS DIREITOS RESERVADOS</p>
        <br><br>
    </footer>
</body>
</html>