<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/logo.png">
</head>
<body>
    <header>
        <div class="cabeçalho">
            <img class="logo" src="../static/img/logo_fundo_preto.png" alt="Logo">
            <p class="nome">ACADEMIA MAROMBA</p>
            <img class="linha" src="../static/img/linha.png" alt="">
            <div class="caixa">
                <img class="icones" src="../static/img/email.png" alt="">
                <img class="icones" src="../static/img/telefone.png" alt="">
                <img class="icones" src="../static/img/telefone.png" alt="">
                <div class="naoaguentomaisdiv">
                    <p class="coiso_dos_icone">academiamaromba@email.com</p>
                    <p class="coiso_dos_icone">+55 (99) 99999-9999 / 24 hrs</p>
                    <p class="coiso_dos_icone">4002-8922</p>
                </div>
            </div>
        </div>
        <div class="cabecalho">
            <nav>
                <a href="index.html"><button class="btn">HOME</button></a>
                <a href="inscricao.html"><button class="btn">INSCRIÇÃO</button></a>
                <a href="shope.html"><button class="btn">LOJA</button></a>
                <a href="calculadora_imc.html"><button class="btn">IMC</button></a>
                <a href=""><button class="btn">CONTATO</button></a>
            </nav>
        </div>
    </header>

    <main>

        <h1>Treine Conosco</h1>
        <img src="../static/img/imagem_academia.webp">

        <br><br>

        <h2>Planos Mensais</h2>

        <div class="fundo">
            <div class="quadro">
             <h3>Plano Maromba</h3>
             <br><br>
             <p>Acesso ilimitado à academia durante todo o horário de funcionamento;</p>
             <br>
             <p>Acesso à instrutor;</p>
             <br>
             <p>ioga com as véias.</p>
                <br>
                <p>99,90 por mês</p>
            </div>

            <div class="quadro">
                <h3>Plano Maromba Black</h3>
                <br><br>
             <p>Treinamento personalizado sob demanda;</p>
                <br>
                <p>Participação em até três aulas em grupo por semana.</p>
             <br>
             <p>Treinamento personalizado com um instrutor especializado.</p>
                <br>
             <p>139,90 por mês</p>
            </div>

            <div class="quadro">
             <h3>Plano Maromba Family</h3>
             <br><br>
             <p>Acesso ilimitado para toda a família;</p>
             <br>
             <p>Treinamento personalizado para cada membro da família;</p>
             <br>
              <p>Descontos especiais em aulas em grupo para famílias.</p>
              <br>
              <p>119,90 por mês</p>
            </div>
        </div>


    </main>

    <footer>
        <div class="mds_quanta_div">
            <img class="logo" src="../static/img/logo_fundo_preto.png" alt="Logo">
        </div>
        <br>
        <p>© TODOS OS DIREITOS RESERVADOS</p>
        <br><br>
    </footer>
</body>
</html>